@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: cursive; */
    color: #000;
    /* color: #e7e4e4; */
    
}

html {
    scroll-behavior: smooth;
  }


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FEFDED;
   
}

.navbar{
    height: 10vh;
    width:75vw;
    /* background-color: black; */
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}
    

.logo{
    padding-right: 5rem;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-size: 1.5em;
}

.rightNav{
    display: flex;
    flex-direction: row;
    /* gap: 2rem; */
    align-items: center;

}
.navList  {
    display: flex;
    list-style: none;
    text-decoration: none;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem; 
}
.navList-mobile{
    display: none;
}
.navList li a ,.navList-mobile a{
    border-radius: 5rem;
    padding: 0.5rem;
}
.navList li a {
    text-decoration: none;
}
.navList li a:hover ,.navList-mobile li a:hover {
    background-color:black ;
    color: #FEFDED;
    transform: scale(1.5);
} 

.menu-hamburger{
    display: none;
}





/* hero section */

.hero-container {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10vh;
    /* background-color: black; */
}

.hero-left {
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.hero-left-heading {
    font-size: 3.3rem;
    display: flex;
    flex-direction: column;
}

.hero-left-heading-sec {
    font-size: 1.5rem;
    /* padding-left: 1rem; */
}

.hero-left-para{
    padding-top: 4rem;
    padding-bottom: 3rem;
    font-size: 1rem;
}


.button-hero{
    display: flex;
    flex-direction: row;
    gap: 9rem;
}


.hireme {
    width: 100%;
    height: 7vh;
    display: flex;
    /* justify-content: center; */
}

.hirebutton {
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    display: flex;
    justify-content: center;
    color: #060606;
    align-items: center;
    padding: 1rem;
    font-size: 1.1rem;
}

.hirebutton a {
    text-decoration: none;
}
.hirebutton:hover  {
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    transition-duration: 0.5s;
    /* background-color: #FEFDED; */
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transform: scale(1.1);
    
}
.hirebutton a:hover {
    /* background-color: #eeeeee; */
    color: #FEFDED;
    
}



.hero-right {
    width: 40%;
    height: 80%;
}

.hero-image {
    width: 100%;
    height: 100%;
    border-radius: 7rem;
    /* padding-right: 5rem  ; */
    /* background-color: #FF3CAC; */
    background-image: linear-gradient(225deg, #638cde 0%, #fdfdfd 50%, #fdfdfd 100%);

}

@keyframes animation-a {
  0% {
    border-top-right-radius: 7rem;
    border-bottom-right-radius: 7rem;
  }


  50% {
    border-top-right-radius: 15rem;
    border-bottom-right-radius: 15rem;
  }

  
  100% {
    border-top-right-radius: 7rem;
    border-bottom-right-radius: 7rem;
  }
}


.hero-image {
    animation: animation-a 4s ease 0s infinite ;
}




.hero-image img {
    width: 100%;
    height: 100%;
    
}


/* social link  */


.social-container {
    width: 80vw;
    height: 20vh;
    display: flex;
    /* background-image: linear-gradient(to right, rgb(161, 194, 225), #9e9e9e); */
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    margin-top: 10vh;
    /* opacity: ; */    
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.social-link {
    width: 80%;
    height: 70%;
    /* background-color: #7a1414; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

.links {
    width: 12%;
    height: 80%;
    /* background-color: #FF3CAC; */
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.links a i{
    font-size: 3rem;
    color: #e7e4e4;
}






.links:hover {
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    transition-duration: 0.5s;
    /* background-color: #FEFDED; */
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transform: scale(1.1);
}

.links a i:hover {
    color: #ffffff;
    
}



/* project section  */

.project-section {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(0, 0, 0); */
    margin-top: 10vh;
    justify-content: space-between;
    /* background-color: #000; */
    /* align-items: center; */

}

.project-heading {
    height: 15%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
   
    
}
.project-heading h2 {
    margin-top: 1rem;
    /* height: 100%; */
    width: fit-content;
    /* padding: 6rem; */
    font-size: 2rem;
    
    /* display: inline; */
    
    
    
}

.para-right {
    display: flex;
    flex-direction: column;
    transform: scale(1.1) ;
}

.project-card-container {
    width: 100%;
    height: 80%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
    /* align-items: start; */
    background: #FEFDED;
    /* overflow: hidden; */
    /* overflow: scroll; */
    
}

.project-card {
    height: 45% ;
    width: 24%;
    display: flex;
    flex-direction: column;
    /* padding: 1rem; */
    /* background-color: #277faf; */
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.09) 2px 2px 1px, rgba(0, 0, 0, 0.09) 2px 4px 2px, rgba(0, 0, 0, 0.09) 2px 8px 4px, rgba(0, 0, 0, 0.09) 2px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.project-img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    
    
}

.project-img img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    
}

.overlay {
    display: none;
    width: 100%;
    height: 100%;
}

.project-detail {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    align-items: center;
    /* background-color: #ba1919; */
    padding-top: 0.5rem;
}

.project-detail a {
    width: 30%;
    height: 100%;
    /* padding-top: 1rem; */
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    color: black;
    text-decoration: none;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-detail a:hover {
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    transition-duration: 0.5s;
    /* background-color: #FEFDED; */
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transform: scale(1.1);
    color: #e7e4e4;

}

.show-mobile{
    display: none;
}

.overlay {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 10;
}
@keyframe proj-ani {
    0% {
        opacity: 0;
        display: none;

    }

    100% {
        opacity: 1;
        display :content;
    }
}



.overlay:hover {
 animation-name: proj-ani;
}



/* skill section  */

.skill-section {
    height: 100vh;
    width: 80vw;
    margin-top: 10vh;
    /* background-color: #000; */
    display: flex;
    flex-direction: column;
}

.skill-heading {
    height: 15%;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.skill-container {
    height: 85%;
    width: 100%;
    /* padding: 50px; */
    /* background-color: #9e9e9e; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 1rem ; */
    justify-content: space-between;
    
}

.Skills {
    /* background-color: #000000; */
    height: 10%;
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    
    /* flex-wrap: ; */
    
    
}
.Skills h1{
    font-size: medium;
}
.bar {
    height: 30%;
    width: 100%;
    background-color: rgb(168, 190, 190);
    display: inline;
    border-radius: 2rem;
    /* overflow: hidden; */
    border: solid;
    border-color: #1a638b;
    animation: progress-animation 2s ease forwards;

    
}

.htmlpercent {
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    height: 100%;
    width: 80%;
    display: block;
    border-radius: 2rem;
    animation: percent-animation 2s ease forwards;
    
}


@keyframes progress-animation {
    from { width: 0%; } /* Start from 0% width */
    to { width: 100%; } /* End at 80% width */
}

@keyframes percent-animation {
    from { width: 0%; } /* Start from 0% width */
    to { width: 80%; } /* End at 80% width */
}



/* blog section  */

.blog-section {
    width: 80vw;
    height:100vh;
    margin-top: 10vh;
    /* background-color: #000; */
    /* background-color: #615d5d; */
}

.blog-upper {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    /* background-color: #e73e3e; */

}
.blog-upper h2 {
    font-size: 2rem;
}
.blog-container {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* background-color: #1A638B; */

}

.blog-post {
    width: 100%;
    height: 30%;
    /* background-color: #9e9e9e; */
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 1rem;
}

.blog-post:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.blog-img {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
}

.blog-img img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 2rem;
}

.blog-detail {
    width: 60%;
    height: 100%;
    padding: 1% 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-head {
    height: 15%;
    width: 100%;

}

.blog-para {
    height: 65%;
    width: 100%;
    line-height: 1.5rem;
    padding-top: 1rem;
}

.read-more {
    height: 30%;
    width: 100%;
}

.read-more button {
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    color: whitesmoke;
    font-size: large;
    height: 35px;
    width:150px;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.read-more button:hover {
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    transition-duration: 0.5s;
    /* background-color: #FEFDED; */
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transform: scale(1.05);
}


/* contact-section  */
.contact-section {
    /* background-color: #000; */
    height: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: #000; */
    margin-top: 15vh;
    /* background-color: #000; */

}

.contact-us-section {
    height: 92%;
    width: 70%;
    display: flex;
    padding-left: 2rem;
    

}

.contact_field {
    display: flex;
    height: 100%;
    width: 60%;
    flex-direction: column;
    gap: 2rem;
    /* color: #000; */
}

.contact_field h1{
    /* color: #000; */
     font-size: 40px;
     letter-spacing: 1px;
     font-weight: 600;
     /* color: #000; */
     margin-bottom: 10px
 }
 .contact_field p{
     /* color: #000; */
     font-size: 13px;
     font-weight: 400;
     letter-spacing: 1px;
     margin-bottom: 35px;
     /* color: #000; */
 }

.contact_field input {
    border: none;
    outline: none;
    height: 5rem;
    background: #FEFDED;
    border-bottom: 1px solid #191717;
    color: #050505;
    
    
}

.contact_field textarea {
    height: 8rem;
    border: none;
    outline: none;
    background: #FEFDED;
    border-bottom: 1px solid #0c0c0c;
    padding-top: 1rem   ;

}
.contact_form_submit {
    color: #f9fafa;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    height: 2.5rem;
    font-size: 1.3rem;
    border-radius: 1rem;
}

.contact_form_submit:hover{
    
    transition-duration: 0.3s;
    /* background-color: #FEFDED; */
    box-shadow: rgba(0, 0, 0, 0.56) 0px 5px 10px 3px;
    transform: scale(1.01);
}

.contact-info-section {
    height: 92%;
    width: 30%;
    display: flex;
    align-items: center;
    

}

.contact-info-card {
    height: 60%;
    width: 90%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    padding-left: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    justify-content: space-evenly;
}

.contact-info-card ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
}



/* experience and education section  */

.container {
    width: 80%;
    height: 100vh;
    margin-top: 10vh;
}

main.row {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
   
}

div.col{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 2rem;
    padding-left: 1rem;
    border-left: #000 solid .1rem;
    /* border-radius: 50%; */
    
}

div.contents {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
   /* border: #9e9e9e solid; */
}

div.box{
    display: flex;
    flex-direction: column;
    /* box-shadow: 1px 1px rgb(234, 127, 127); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-left: solid;
    border-width: .2rem;
    padding-left: 1rem;
    gap:  .7rem;
   
}

div.box:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


/* footer section  */

.footer-section {
    height: 10vh;
    width: 100vw;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.rem;
    /* background-color: #000; */
    
    

}
.footer-section h6,.footer-section p i {
    color: rgb(0, 0, 0)
}




